<ul class="nav-meta">
    <li class="nav-github">
        <a aria-label="GitHub" href="https://github.com/matthiasguentert/" title="GitHub" target="_blank">
            <i class="icon icon-github" aria-hidden="true"></i>
            <span></span>
        </a>
    </li>
  <li class="nav-linkedin">
    <a aria-label="LinkedIn" href="https://www.linkedin.com/in/matthiasguentert/" title="Matthias Güntert" target="_blank">
      <i class="icon icon-linkedin" aria-hidden="true"></i>
      <span>{{@site.linkedin}}</span>
    </a>
  </li>
  {{#if @site.twitter}}
  <li class="nav-twitter">
    <a aria-label="Twitter" href="{{twitter_url}}" title="{{@site.twitter}}" target="_blank">
      <i class="icon icon-twitter" aria-hidden="true"></i>
      <span>{{@site.twitter}}</span>
    </a>
  </li>
  {{/if}}
  {{#if @site.facebook}}
  <li class="nav-facebook">
    <a aria-label="Facebook" href="{{facebook_url}}" title="{{@site.facebook}}" target="_blank">
      <i class="icon icon-facebook" aria-hidden="true"></i>
      <span>{{@site.facebook}}</span>
    </a>
  </li>
  {{/if}}
  <li class="nav-search">
    <a title="{{t "Search"}}" data-ghost-search>
      <i class="icon icon-search" aria-hidden="true"></i>
      <span>{{t "Search"}}</span>
    </a>
  </li>
</ul>
